main {
  align-items: center;
  background-color: gray;
  display: flex;
  flex-direction: column;

}

h1 {
  text-align: center;
}

.prin {
  display: flex;
  align-items: center;
  width: 700px;
  justify-content: space-around;

}

.formulario {
  background-color: darkgray;
  width: 45%;
}

.card {
  background-color: rgb(14, 95, 61);
  border-radius: 10px;
  width: 300px
}

.listCardsSaved {
  background-color: rgb(118, 124, 27);
  display: flex;
  width: 80%;
  
}