main {
  background-color: gray;
}

h1 {
  text-align: center;
}

.prin {
  display: flex;
  justify-content: space-around;
}

.formulario {
  background-color: darkgray;
  width: 45%;
}

.card {
  background-color: rgb(14, 95, 61);
  border-radius: 10px;
  width: 45%;
}

.list {
  background-color: rgb(118, 124, 27);
  width: 45%;
}
